<div
    infiniteScroll
    [scrollWindow]="false"
    [alwaysCallback]="true"
    [infiniteScrollDistance]="2"
    [infiniteScrollUpDistance]="2.5"
    (scrolled)="candidateService.nextPage()"
    (scrolledUp)="candidateService.previousPage()"
    class="scroll-container"
>
    <table>
        <thead class="bg-surface">
            <tr class="mat-elevation-z1">
                @if (breakpoint !== 'xs') {
                    <th scope="col">JMBG</th>
                }
                <th scope="col">Ime</th>
                <th scope="col">Prezime</th>
                @if (breakpoint === 'l' || breakpoint === 'm') {
                    <th scope="col">Rođen(a)</th>
                }
                @if (breakpoint === 'l') {
                    <th scope="col">Email</th>
                    <th scope="col">Telefon</th>
                }
                @if (breakpoint === 'l' || breakpoint === 'm') {
                    <th scope="col">Zaposlen(a)</th>
                    <th scope="col">Ažurirano</th>
                }
                <th scope="col"></th>
            </tr>
        </thead>

        <tbody>
            @for (
                candidate of candidateService.candidates$ | async;
                track candidate.jmbg
            ) {
                <tr class="mat-elevation-z1">
                    @if (breakpoint !== 'xs') {
                        <td>{{ candidate.jmbg }}</td>
                    }
                    <td>{{ candidate.firstName }}</td>
                    <td>{{ candidate.lastName }}</td>
                    @if (breakpoint === 'l' || breakpoint === 'm') {
                        <td>{{ candidate.birthYear }}.</td>
                    }
                    @if (breakpoint === 'l') {
                        <td>{{ candidate.email }}</td>
                        <td>{{ candidate.phone }}</td>
                    }
                    @if (breakpoint === 'l' || breakpoint === 'm') {
                        <td>{{ candidate.employed ? 'da' : 'ne' }}</td>
                        <td>
                            {{ candidate.lastUpdated | date: 'dd.MM.yyyy.' }}
                        </td>
                    }
                    @if (breakpoint === 'l') {
                        <td>
                            <button
                                mat-icon-button
                                matTooltip="Ažuriraj"
                                matTooltipPosition="above"
                            >
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button
                                mat-icon-button
                                matTooltip="Izbriši"
                                matTooltipPosition="above"
                            >
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    } @else {
                        <td style="text-align: center; width: 80px">
                            <button
                                mat-icon-button
                                (click)="expendHandler(candidate)"
                            >
                                @if (expendedCandidate === candidate) {
                                    <mat-icon>keyboard_arrow_up</mat-icon>
                                } @else {
                                    <mat-icon>keyboard_arrow_down</mat-icon>
                                }
                            </button>
                        </td>
                    }
                </tr>

                @if (breakpoint !== 'l' && expendedCandidate === candidate) {
                    <tr class="mat-elevation-z1">
                        <td [colSpan]="colspan">
                            <div class="candidate-detail">
                                @if (breakpoint === 'xs') {
                                    <div>
                                        <h5 class="margin-sm">JMBG</h5>
                                        <p class="margin-sm">
                                            {{ candidate.jmbg }}
                                        </p>
                                    </div>
                                }
                                @if (
                                    breakpoint === 's' || breakpoint === 'xs'
                                ) {
                                    <div>
                                        <h5 class="margin-sm">Rođen(a)</h5>
                                        <p class="margin-sm">
                                            {{ candidate.birthYear }}.
                                        </p>
                                    </div>
                                }
                                <div>
                                    <h5 class="margin-sm">Email</h5>
                                    <p class="margin-sm">
                                        {{ candidate.email }}
                                    </p>
                                </div>
                                <div>
                                    <h5 class="margin-sm">Telefon</h5>
                                    <p class="margin-sm">
                                        {{ candidate.phone }}
                                    </p>
                                </div>
                                @if (
                                    breakpoint === 's' || breakpoint === 'xs'
                                ) {
                                    <div>
                                        <h5 class="margin-sm">Zaposlen(a)</h5>
                                        <p class="margin-sm">
                                            {{
                                                candidate.employed ? 'da' : 'ne'
                                            }}
                                        </p>
                                    </div>
                                    <div>
                                        <h5 class="margin-sm">Ažurirano</h5>
                                        <p class="margin-sm">
                                            {{
                                                candidate.lastUpdated
                                                    | date: 'dd.MM.yyyy.'
                                            }}
                                        </p>
                                    </div>
                                }
                            </div>
                        </td>
                        <td>
                            <button
                                mat-icon-button
                                matTooltip="Ažuriraj"
                                matTooltipPosition="above"
                            >
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button
                                mat-icon-button
                                matTooltip="Izbriši"
                                matTooltipPosition="above"
                            >
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                }
            }
            @if (candidateService.candidates$.value.length === 0) {
                <tr class="mat-elevation-z1">
                    <td [colSpan]="colspan" style="text-align: center">
                        <h2>NEMA KANDIDATA</h2>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
